@model CIS174AssignmentsApp.Models.Assignment6

<h2>Assignment 6</h2>

@if (Model.AccessLevel < 2)
{
    <p>You do not have a sufficient access level to view this data.</p>
}
else
{
    @if (Model.AccessLevel >= 8)
    {
        <p>Hello Admin</p>
    }

    <table>
        <thead>
            <tr>
                <th>First Name</th>
                <th>Last Name</th>
                @if (Model.AccessLevel >= 8)
                {
                    <th>Grade</th>
                }
            </tr>
        </thead>
        <tbody>
            @foreach (var student in Model.Students)
            {
                <tr>
                    <td>@student.FirstName</td>
                    <td>@student.LastName</td>
                    @if (Model.AccessLevel >= 8)
                    {
                        <td>@student.Grade</td>
                    }
                </tr>
            }
        </tbody>
    </table>
}
